<div class="transactions-container">
  <div class="transactions-title">
    <h1 class="bold-text">TRANSACTIONS</h1>
  </div>

  <% @categories.each do |category| %>
    <div class="category-box">
      <%= link_to category_path(category) do %>
        <div class="category-icon">
        <%= image_tag category.icon, alt: category.name, class: "category-image" %>
      </div>      
      <% end %>
      
      <div class="category-details">
        <h3><%= category.name %></h3>
      </div>
      <div>
      <% total_amount = category.category_transactions.sum { |ct| ct.purchase.amount } %>
      <p class="total-amount bold-text">$<%= total_amount %></p>
      </div>
    </div>
  <% end %>

  <div class="buttons-container">
    <%= link_to "New Category", new_category_path, class: "btn btn-primary" %>
    <%= link_to "Sign Out", log_out_path, method: :delete, class: "btn btn-primary" %>
  </div>
</div>
