<h1>New Transaction</h1>

<%= form_with model: [@category, @transaction] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, required: true %>
  </div>

  <div>
    <%= form.label :categories %>
    <% Category.all.each do |category| %>
      <%= form.collection_check_boxes :category_ids, [category], :id, :name, multiple: true %>
    <% end %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
