<h1>Details <%= @category.name %></h1>

<p>Category: <%= @category.name %></p>
<p>Icon: <%= image_tag(@category.icon) %></p>

<% @category.transactions.each do |transaction| %>
  <p><strong>Transaction: <%= transaction.name %></strong></p>
  <p>Created at: <%= transaction.created_at %></p>
<% end %>

<% total_amount = @category.transactions.sum(:amount) %>
<p>Total Amount: <%= total_amount %></p>

<%= link_to "Back to Categories", categories_path %>
